body {
    font-family: 'Karla', sans-serif;
    color: hsl(273, 4%, 51%);
}

h1 {
    width: 350px;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 3rem;
}

h2 {
    color: hsl(270, 9%, 17%);
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 3rem;
}

h3 {
    color: hsl(270, 9%, 17%);
}

p {
    color: hsl(273, 4%, 51%);
}


/* Top section */

.navigation-bar {
    padding: 8px 10% 14px;
}

.navigation-bar a {
    font-weight: 700;
    color: hsl(273, 4%, 51%);
}

.navigation-bar a:hover {
    color: hsl(256, 26%, 20%);
}

#brand {
    font-weight: 700;
    color: hsl(256, 26%, 20%);
}

.col-lg-6 p {
    width: 600px;
    color: white;
}

.title-section {
    margin: 0;
    position: relative;
    padding: 0 10%;
    background-color: hsl(256, 26%, 20%);
}

.title-text {
    margin-top: 150px;
}

.title-text hr {
    background-color: white;
    width: 25%;
    margin: 16px 2px 40px;
}

.title-img {
    position: relative;
    top: 150px;
    left: 30%;
}

.intro-right-pattern {
    position: absolute;
    bottom: 8%;
    left: 67%;
}

.intro-left-pattern {
    position: absolute;
    top: 65%;
    right: 90%;
}

.nav-item button {
    border-radius: 0 !important;
    border: 1.5px solid hsl(256, 26%, 20%);
}


/* Middle section */

.mid {
    padding: 15% 10% 5%;
}

.mid hr {
    width: 10%;
    margin: 16px 2px 40px;
    background-color: hsl(216, 30%, 68%);
}

.how-work-item {
    width: 25px;
}

.mid-h2 {
    margin-bottom: 8%;
}

.mid-row {
    margin-bottom: 10%;
}

.mid-bot {
    margin: 0;
    background-color: hsl(256, 26%, 20%);
}

.mid-bot h2 {
    color: #fff;
    width: 420px;
}

.mid-bot img {
    position: relative;
    left: 23.5%;
}

.how-we-work-title {
    padding: 50px 100px 0 50px;
}

.how-we-work-btn {
    z-index: 1;
    position: relative;
    left: 65%;
    border-radius: 0 !important;
}

.how-we-work-btn:hover {
    background-color: #fff;
}


/* Bottom section */

.bot {
    background-color: hsl(0, 0%, 98%);
}

.bot img {
    position: absolute;
}

.bot-social-media {
    padding: 3% 10% 8%;
    position: relative;
}

.row a {
    font-size: 1.05rem;
    display: block;
    margin: 10px 0;
    color: hsl(270, 9%, 17%);
}

.row a:hover {
    text-decoration: underline;
    color: hsl(270, 9%, 17%);
}

.media-icon:hover {
    color: hsl(270, 9%, 17%);
}

.media-block {
    float: right;
}